// Brand Color Palette
$color-border: #ececec;
$color-primary: #2c1760;
$color-mdc-primary: #6a1b9a;
$color-primary-dark: #38006b;
$color-primary-light: #9c4dcc;
$color-secondary: #f50057;
$color-secondary-dark: #bb002f;
$color-secondary-light: #ff5983;
$color-surface: #242424;
$color-background: #fff;
$color-warn: #ffa54e;
$color-error: #f40505;
$color-on-primary: #fff;
$color-on-secondary: #fff;
$color-on-error: #fff;
$color-on-surface: #fff;
$footer: #313741;
