@import 'colors';

.simple-menu {
    position: relative;

    &__popup {
        border: 1px solid $color-border;
        bottom: 0;
        display: none;
        padding: 0.25rem;
        position: absolute;
        right: 0;
    }

    &--open {
        .simple-menu {
            &__popup {
                display: block;
            }
        }
    }
}
