@import '_colors';

.farkle {
  box-sizing: border-box;
  height: 100vh;
  width: 100vh;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  padding-bottom: 2rem;
  position: relative;
  display: grid;
  grid-template-rows: 1.5rem auto 3.8rem;

  &__headerHeadline {
    font-size: 1rem;
    line-height: 1;
  }

  &__content {
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 1rem;
    align-items: start;
    padding: 0 1rem;
    height: 100%;
    overflow: hidden;
  }

  &__difference {
    color: $color-secondary-light;
    font-size: 1.5rem;
    text-align: center;
  }

  &__header {
    align-items: center;
    padding: 1rem 1rem 0;
  }

  &__footer {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
  }

  &__users {
    display: grid;
    grid-template-rows: auto 5.5rem;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__usersList {
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 3.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    padding: 1rem 0;
    width: 100%;
  }

  &__userInfo {
    display: grid;
    grid-template-rows: 3.75rem 23rem auto;
    gap: 0.25rem;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
  }

  &__userScoreList {
    height: 100%;
    overflow: auto;
  }

  &__userHeadline {
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    gap: 1rem;
  }
}

@media  (min-width: 33rem) {
  .farkle {
    max-width: 33rem;
    margin: 0 auto;
  }
}
