@import "_colors.scss";

.farkleKeyboard {
  margin: 0 auto;
  padding: 0.25rem 0 0;
  overflow: hidden;

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1%;
    justify-content: flex-start;
    padding: 1rem 1% 0;
    width: 100%;
    overflow: hidden;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

  &__button {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-primary;
    border: 1px solid $color-primary-dark;
    border-radius: 0.5rem;
    color: $color-on-primary;
    font-size: 1.5rem;
    height: 4rem;
    width: 32%;
  }

  &__buttonSave {
    background-color: #1ec900;
    border: 1px solid darken(#29fe03, 20%);
    color: $color-on-secondary;
    height: 2rem;
    width: 4.5rem;
  }
}
