@import '_colors';

@keyframes sweepIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sweepOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.scoreCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  overflow: hidden;
  position: relative;

  &__contentWrapper {
    position: relative;
    width: 100%;
    min-height: 3rem;
  }


}
