.users {
  align-items: top;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: center;
  padding: 1rem;

  &__user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 60rem;
    margin: 0 auto;
  }

  &__form {
    display: grid;
    border-bottom: 1px solid #3f3f3f;
    grid-template-columns: 1fr auto auto auto;
    gap: 1rem;
    padding: 1rem;
  }
}
