.userScore {
  display: block;

  &__button {
    display: block;
  }

  &__headline {
    font-size: 1.25rem !important;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  &__score {
    font-size: 1.75rem;
  }

  &--selected {
    &.userScore {
      color: #29fe03;
    }
  }
}
